@use 'mixin.scss';
@import "./vars.scss";

#rrss {
@include mixin.flex-center;     
}

.rrssIcons {
 
/*     background-color: $ppal;  
    stroke: $ppal;    
    path {
        fill: currentColor !important;
       } */
    border-radius: 50%;
    border: 2px solid $ppal;
    background-color: $second;
    padding: 5px;
    cursor: pointer;    
}

svg:hover {
    fill: black;    
  }

#searchInput {
    display: flex;
    align-items: center; 
    justify-content: center
}

#footerText {
    @include mixin.flex-between;
}

#footerTextCopy {
    text-align: center;
}

