@use 'mixin.scss';
@import "./vars.scss";

#rrss {
@include mixin.flex-center;     
}

.rrssIcons {
 
/*     background-color: $ppal;  
    stroke: $ppal;    
    path {
        fill: currentColor !important;
       } 
       border-radius: 50%;
       border: 2px solid $ppal;
       background-color: gray;
       padding: 5px;
       cursor: pointer;   
       */
    }
    
svg:hover {
    fill: black;    
  }

#searchInput {
    display: flex;
    align-items: center; 
    justify-content: center
}

#footerText {
    @include mixin.flex-between;
    p {
        cursor: pointer;    
        font-size: 14px;
    }
}

#footerTextCopy {
    text-align: center;
}

#rrss {
    margin: 5px;
    padding: 2x;
    gap: 10px
}

.btnInfo {
    margin-top: 2px;
}

footer {
    font-size: 14px;
}